.cartnav{
    width: 100%;
    height: 12vh;
    background-color: 
    #008ecc;
    display: flex;
    align-items: center;
   position:fixed;
}
.cartnav>div{
    margin-left: 10%;
}
.cartnav>div>img{
    width: 100px;
    height: 80px;
}