.CartLogin{
    width: 100%;
}
.CartLogin>div{
    width: 90%;
    margin: auto;
}
.CartLogin>div>div:nth-child(1){
    width: 100%;
    padding: 16px 0px 24px 10% ;
    font-size: 25px;
    font-weight: bolder;
}
.CartLogin>div>div:nth-child(2){
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CartLogin>div>div:nth-child(2)>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CartLogin>div>div:nth-child(2)>div>img{
    height: 170px;
    width: 220px;
}
.CartLogin>div>div:nth-child(2)>div>div{
    font-size: 14px;
}
.CartLogin>div>div:nth-child(2) a{
    text-decoration: none;
    color: #008ecc;
}







