

.container{
    width: 60%;
    margin: auto;
    margin-top: 5vh;
}
.container>div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
}
.container-div1>div:nth-child(1){
    border-bottom: 1px solid gainsboro;
}
.container-div1>div:nth-child(2){
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: bold;
}
.container-div2{
    display: flex;
}
.container input{
    width: 20px;
    height: 20px;
}
.container-div2-left{
    width: 35%;
    font-size: 18px;
}
.container-div2-left>div{
    padding: 5px;
    border-bottom: 1px solid rgb(182, 180, 180) ;
    border-right: 1px solid rgb(182, 180, 180) ;
}
.container-div2-left .disabled{
    background-color: gainsboro;
}
.container-div2-right{
    width: 60%;
    font-size: 18px;
}
.container-div2-right>div{
    padding: 5px;
    border-bottom: 1px solid rgb(182, 180, 180) ;
    padding-left: 20px ;
}
.container-div2-right>div:nth-child(2){
    display: flex;
    gap: 20px;
    align-items: center;
}

.container button{
    width: 60%;
    display: block;
    margin:20px auto;
    border-radius: 10px;
    background-color: gray;
    padding: 10px;
    font-size: 20px;
    font-weight: bold ;
    color:white;
}
.container .blue{
    background-color: blue;
}
.disabled{
    background-color: rgb(236, 229, 229) ;
}
.Ajaya{
    display: flex;
    justify-content: space-between;
}
@media all and (max-width:727px){
    .container{
        width: 80%;
    }
}
@media all and (max-width:727px){
.container{
    width: 90%;
}
}
@media all and (max-width:500px){
    .container{
        width: 99%;
    }
}