#trending:hover{
    box-shadow: rgba(241, 235, 235, 0.932) 0px 20px ;
    
}

#photo:hover{
    margin-top: "200px";
    transform: scale(0.2); 
    width:"600px";
}
splide{
    background-color: white;
}