.navlist{
    width: 100%;
    text-align: left;
    /* position:fixed; */
    top: 62px;
  
  
    padding-top: 8px;
    padding-left: 150px;
    background-color: #ececed;
    font-weight: 500;
    font-size: 13px;
    
}
.navlist ul{
    list-style: none;
    
   
    
}



.navlist>ul{
    padding-left: 10px;
    
    margin: 0;

    display: inline-block;
    
    color: #000;
}
.navlist>ul>li{
    position: relative;
    cursor: pointer;
    float: left;
    width: 180px;
    height: 35px;
    line-height: 35px;

    
    
}
.navlist>ul>li:nth-child(4){
    padding-left: 10px;
}


.dropdown li{
   
    text-align: left;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ececed;
    display: none; 

}
.navlist>ul>li:last-child>ul>li{
    width:200px;
}
.navlist li:hover .dropdown li {
     display: block;
     
}

.dropdown li:hover{
    background-color: #fff;
    color: #007bff;
}
.footer{
    position: relative;
    bottom: 0;
   
    width: 100%;
    padding-top: 60px;
    font-weight: lighter;
    list-style: none;
    background-color: rgba(21,27,57,.08);
}
.footer>div{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
    padding-top: 10px;
}
.footer>div:last-child{
    border-top: 1px solid rgba(195,195,195,.5);
}
.footer>div:first-child>div:last-child{
    border-left: 1px solid rgba(195,195,195,.5);
}
.footer p{
    margin-bottom: 10px;
}
.footer span{
    color: #008ecc;
    cursor: pointer;
}
.footer>div:first-child>div{
    margin-bottom: 20px;
    padding-left: 20px;
}

.footer h4{
    font-weight: bold;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.footer li{
    margin-bottom: 5px;
    cursor: pointer;
}
.footer img {
    cursor: pointer;
}

.R-footer-icon{
    width: 100px;
} 
@media (max-width: 1300px) {
    .navlist {
      display: none;
    }
  }

  @media (max-width:720px){
    .R-footer-icon{
        width: 60px;
    }
  }