.App {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  width: 100%;
  object-fit: fill;
  overflow: scroll;
}

@media all and (max-width:1272px) and (min-width:720px){
  .App{
    width: auto;
  }
}


